<!DOCTYPE html>
<html lang = "en-US">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <title>{% print(headers[3]['title']) %}</title>
    <link rel = "stylesheet" href = "../static/stylesheet/main.css"></link>
    <link rel = "stylesheet" href = "../static/stylesheet/login.css"></link>
    <link rel = "icon" href = "../static/ico/logo.ico"></link>
  </head>
  <body>
    <header>
      <div id = "appLogo">
        <img src = "../static/img/logo.png" alt = "CMAP" id = "appLogoImg">
        <h1 id = "appLogoText">{% print(headers[0]['title']) %}</h1>
      </div>  
      <div id = "companyLogo">
        <img src = "../static/img/hyundailogo.png" alt = "Hyundai" id = "companyLogoImg">
      </div>
    </header>
    <main>
      <div id = "mainWall">
        <div class = "SignInForms" id = "idFormBlock">
          <h2 class = "SignInHeaders" id = "idHeader">{% print(headers[1]['title']) %}</h2>
          <div class = "InputForms" id = "idForm">
            <form action = "" method = "post">
                <input type = "text" class = "UserInput" id = "fName" name = "fName" placeholder = "ID" autocomplete="off" onfocus = "clearErrorMsg()" required>
                <h3 class = "UserHelp" id = "createAccount">No account? <a id = "createLink" href = "">Create one!</a></h3>
                <h3 class = "ErrorMessages" id = "idErrMess">ERROR</h3>
                <button type = "button" class = "LoginButtons" id = "idButton" value = "Next" onclick = "checkId()">Next</button>
            </form>
          </div>
        </div>
        <img src = "../static/img/wall.jpg" alt = "Wall" id = "mainWallImg">
      </div>
    </main>
    <footer>
      <h5 id = "footerText">{% print(headers[2]['title']) %}</h5>
    </footer>
    <script src = "../static/lib/ajx1.js"></script>
    <script src = "../static/js/const.js"></script>
    <script src = "../static/js/login.js"></script>
  </body>
</html>